<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.indexing and page.layout != 404 %}
    {% seo %}
    {% else %}
    <meta name="robots" content="none">
    {% if page.title %}
    <title>{{ site.title | prepend: ' | ' | prepend: page.title }}</title>
    {% else %}
    <title>{{ site.title | append: ' | ' | append: site.description }}</title>
    {% endif %}
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/icons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/icons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/icons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/icons/site.webmanifest' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/leaflet.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
</head>