---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        <hr class="my-4">
        <div id="map">
            <a href="https://map.kakao.com/?urlX=509204&urlY=1112256&urlLevel=2&map_type=TYPE_MAP&map_hybrid=false" target="_blank">
                <img src="https://map2.daum.net/map/mapservice?FORMAT=PNG&SCALE=1.25&MX=509204&MY=1112256&S=0&IW=650&IH=500&LANG=0&COORDSTM=WCONGNAMUL&logo=kakao_logo">
            </a>
            <p>
                {{ content }}
            </p>
        </div>
        
    </div>
</main>

{% include footer.html %}